body{
    background-color:rgb(0, 123, 255) ;
}

h1{
    color: white;
}

p{
    color: white;
}

.card{
    width: 500px;
    /* background-color: rgb(120, 0, 0); */
    background-color: rgb(34, 34, 34);
    border-radius: 10px;
    box-shadow: rgba(54, 0, 249, 0.35) 0px 5px 15px;
    padding: 20px;
}

.invalid-feedback{
    color: rgb(255, 170, 0);
}

.form-control,input {
    width: 300px;
    display: flex;
    margin-top: 20px;
    border-radius: 5px;
    height: 40px;
}

.btn{
    background-color: rgb(34, 34, 34);
    color: white;
    border: 3px green solid;
    width: 150px;
}
.btn:hover{
    background-color: green;
    animation-delay: 1s;
}
form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-fluid{
    margin-top: 100px;
    width: 100%;
    display: flex;
    justify-content: center;

}
